body {
    background-color: #F5F4F0;
    transition: all 0.2s ease;
}


.nav-link {
    color:#0e130d;
}

nav button {
    border-radius: 2px !important;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

section#hero{
    background-color: #3F6745;
}

#hero .play-btn {
    margin-inline-end: -1.2rem;
    background-color: #fd661f;
}

#hero .hero-text h1 {
    font-size: 4rem !important;
    font-weight:800;
}

#hero .hero-text p {
    font-size: 1.1rem;
    font-weight: 600;
}

.card-container {
    background-color: #3F6745;
}

#motivation .card-container .shopping-list-btn {
    height: 1.5in;
    width: 1.5in;
    background-color: #fd661f;
    color: white;
}
#motivation .card-container .shopping-list-btn  {
    height: 1.5in;
    width: 1.5in;
    background-color: #fd661f;
    color: white;
}

.shopping-list-btn {
    inset-block-start: 4rem;
    inset-inline-end: 0;
    margin-inline-end: -4rem;
    cursor: pointer;
}

.cards {
    background-color: #3F6745;
}

.image-container img{
    object-fit: cover;
    object-position: center;
}

.matrix-image{
    inset-inline-end: 0;
    inset-block-start: 0;
    margin-inline-end: -4rem;
    margin-block-start: -5rem;
}


#creative {
    margin-block-start: 18rem;
}

.user-avatar {
    background-color: #fd661f;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
}


.users-avatar .user-avatar {
    background-color: #fd661f;
    width: 1.5rem;
    height: 1.5rem;
    font-size: smaller;
}

.customers {
    inset-inline-start: 0;
    inset-block-end: 0;
    margin-inline-start: -4rem;
    margin-block-end: -4rem;  
}