/* Reset css default styles*/

* {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: normal;
	box-sizing: border-box;
	overflow-x: hidden;
}

* a {
	text-decoration: none;
    color: #000000;
}

a:hover {
	text-decoration:underline;
}

p {
    line-height: 1.5;
}

section {
	margin: 24px 0px;
    padding: 36px;
}

button {
	padding: 8px 16px;
	border-radius: 20px;
	border: none;
	cursor: pointer;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
}

.grid-container .card {
	min-height: 500px;
	width: auto;
    padding: 24px;
}

.grid-container .card p {
	padding: 8px 0px;
    line-height: 18px;
}

.grid-container .card a {
	font-size: small;
    font-weight: 600;
}

.grid-container .card ul li {
    padding: 16px 0px;
    font-size: small;
    font-weight: 500;
}

.grid-container .card h3 {
	padding: 12px 0px;
    font-size: 24px;
}

.grid-container .card h2 {
	padding: 16px 0px 6px 0px;
}


.grid-container .card img {
	width: auto;
    height: 250px;
    margin-top: 4rem;
}

/*--------------#header---------------------*/
header {
	display: flex;
	margin: 8px 4px;
	width: 100%;
}

header .brand {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 16px 0px 20px;
	color: red;
	font-weight: 600;
}
header .brand svg {
	font-size: 40px;
}
header#navbar ul li {
	list-style-type: none;
	padding: 16px 20px;
	font-size: small;
	display: flex;
	justify-content: center;
	align-items: center;
}

header#navbar ul li::after {
	content: url(./caret-down-thin.svg);
	display: block;
	margin: 2px;
}

header#navbar nav ul {
	display: flex;
	flex-direction: row;
}

header .signup {
	flex-grow: 1;
	display: flex;
	justify-content: end;
	align-items: center;
	justify-self: flex-end;
	margin-right: 16px;
	padding: 16px 4px 16px 0px;
	font-weight: 200;
}

header .signup .search-btn svg {
	font-size: large;
	margin: 0px 24px;
	font-weight: 400;
}

header .signup a {
	font-size: small;
	font-weight: 400;
}

/*-------------- adobe-creative-cloud ----------------------*/

.adobe-creative-cloud {
    height: 100vh;
    background: linear-gradient(217deg, rgb(178, 247, 99), rgba(255,0,0,0) 60.71%),
            linear-gradient(135deg, red, rgba(0,255,0,0) 88.71%),
            linear-gradient(to top left, rgb(114, 123, 248) , rgba(0,0,255,0) 100%);
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.adobe-creative-cloud  div:last-child {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.adobe-creative-cloud div {
    width: 50%;
    padding: 0px 24px;
}

.adobe-creative-cloud div img {
    width: auto;
    height: 400px;
}


.adobe-creative-cloud div h1 {
    font-size: xx-large;
    padding: 16px 0px;
}

.adobe-creative-cloud div p {
    padding: 16px 0px;
}
.adobe-creative-cloud div button {
    background-color: blue;
    color: white;
    font-size: small;
    font-weight: 600;
    margin: 8px;
}
.adobe-creative-cloud div a {
    font-size: small;
    font-weight: 800;
    margin: 8px;
}

/*--------------#creative-space-for ---------------------*/

.creative-cloud-for>span, .creative-cloud-for>a {
    display: block;
}

.creative-cloud-for span {
    font-weight: 600;
}

.creative-cloud-for a {
    color: blue;
    letter-spacing: 1px;
}

.creative-cloud-for {
    width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 24px;
   border-bottom: 1px solid lightgray;
    padding: 24px 0px;
   margin-bottom: 40px;
}

/*--------------#home---------------------*/

#home {
	position: relative;
	margin-top: -8px;
	height: 100vh;
	width: auto;
	background-image: url(https://s7d1.scene7.com/is/image/TitanProd/EML-Got-It_triple-desktop?$pjpeg$&jpegSize=300&wid=1920);
	background-position-x: 50%;
}

#home .caption {
	position: absolute;
	top: 30%;
	right: 10%;
	color: white;
	max-width: 400px;
}

#home .caption h1 {
	font-size: 45px;
	padding: 16px 0px;
}

#home .caption p {
	color: whitesmoke;
	padding: 8px 0px;
}

#home .plans-btn-group {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 24px;
	padding: 8px 0px;
}

#home .caption button {
	color: white;
	font-weight: 600;
	background-color: blue;
	font-size: small;
}

#home .caption a {
	color: white;
	font-weight: 600;
	font-size: small;
}

/*--------------#adobe-tools---------------------*/


#adobe-tools .grid-container .card:nth-child(1) {
    background-image: linear-gradient( rgb(255, 196, 196), red);
}
#adobe-tools .grid-container .card:nth-child(3) {
    background-color:#000000;
    color: white;
}
#adobe-tools .grid-container .card:nth-child(2) {
    background-color:red;
    color: white;
}

#adobe-tools .grid-container .card:nth-child(3) p {
    font-size: small;
}
#adobe-tools .grid-container .card:nth-child(3) h2 {
    border-bottom: 1px solid white;
}

#adobe-tools .grid-container .card:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #e8e8e8;
    background-image: url(./assets/Premiere-Pro-double-desktop.jpeg);
    background-position:center;
    background-size: cover;
}



/*--------------#adobe-cloud ----------------------*/

#adobe-cloud {
    display: flex;
    background-color: red;
    background-image: url(./assets/DX-Marquee-triple-desktop.jpeg);
    background-position: right;
    background-size: cover;
    height: 100vh;
    color: white;

}

#adobe-cloud h2 {
    padding: 16px 0;
}
#adobe-cloud h1 {
    padding: 24px 0;
    font-size: xxx-large;
}
#adobe-cloud p {
    padding: 16px 0;
}


#adobe-cloud button {
   background-color: blue;
  color: white;
  margin: 8px 0px;
  font-size: small;
}


/*--------------#adobe-services---------------------*/


#adobe-services .card:nth-of-type(3) {
    background-color: #66cccc;
}

#adobe-services .card:nth-child(1){
    background-image: url(./assets/EML-homepage-single-desktop-1_v2.jpeg);
    background-position: center;
    background-size: cover;
}
#adobe-services .card:nth-child(2){
    background-image: url(./assets/EML-homepage-single-desktop-2_v2.jpeg);
    background-position: center;
    background-size: cover;
}
#adobe-services .card:nth-of-type(3) h2 {
    text-decoration: underline;
    text-underline-offset: 8px;
    
}
